.nft {
    background-color: rgb(36, 37, 37);
    min-width: 95px;
    border-radius: 10px;
    margin: 6px;
    text-align: center;
    flex-basis: 32%;
    color: white;
    box-shadow: 2px 2px lightgray;

  }

  .nftimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }