body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 1000px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;  
}

.links {




  text-decoration: none;
}

.links:visited {
  text-decoration: none;
}

.nav {
  display: flex;
  
}

.logo {

}

.item {
  font-size: 20px;
  padding: 16px;
  display: inline-block;
}

.btn {
  display: inline-block;
  background: black;
  color:white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  float: right;
}

.left, .middle, .right {
flex: 1;
padding: 4px;
padding-top: 10px;
padding-bottom: 10px;
}

.left {
  background: #ffcdd2;
}

.middle {
  background: #bbdefb;
  text-align: center;
}

.right {
  background: #fff9c4;
}


.header{
display: flex;

}

.banner {
  background: red;
  flex-grow: 1;
  padding: 8px;
  text-align: center;
}

.statistics{
  display: flex;
  flex-wrap: wrap;
}

.items, .volume, .price, .owners{
  flex-grow: 1;
  background-color: rgb(36, 37, 37);
  border-radius: 10px;
  padding-left: 20px;
  margin: 12px;
  min-height: 100px;
  color: white;
  box-shadow: 2px 2px lightgray;
}

.items {
  flex-basis: 45%;
}

.volume {
  flex-basis: 45%;

}

.price {
  flex-basis: 45%;
 

}

.owners {
  
  flex-basis: 45%;

}

.title {
  flex-basis: 100%;
  color: white;
  background-color: black;
  padding-left: 20px;
}

.owned {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: black;
  min-height: 100px;
}

.nftbtn {
  display: inline-block;
  background: black;
  color:white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  float: center;
}

.footer {
  display: flex;
  margin-top: 10px;
}